<h1>新規タスク</h1>
<%= form_with model: @task do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.submit '登録' %></div>
<% end %>
<%= link_to '戻る', tasks_path %>